# Track source code and the Unreal project descriptor.
*

!.gitignore
!README.md
!LxARPG.uproject
!Source/
!Source/**
!Config/
!Config/DefaultGameplayTags.ini
!Config/Tags/
!Config/Tags/LxAttributeAndEntryTags.ini
!Config/Tags/LxQuestTags.ini
